body{
  background-color: black;
  background-image: url(/img/actitudesreclutador.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 5;
}
.hola{
  position: relative;
  top: -10px;

}
h1{
  color: rgb(240, 28, 0);
}

.text-primary{
  position: relative;
  left: 107px; 
  color: blue;
  top: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
.enviar{

  position: relative;
  left: 195px; 
  color: blue;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}

