body{
  
  background-image: url(/img/fondo2jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 5;
}
h1{
  color: rgb(248, 248, 248);
  font-size: 60px;
  position: relative;
  text-align: center;
  top: 170px;
  background-color: rgb(69, 189, 232);
  transition: background-color .5s ;
  border-radius: 20px;
}

h1:hover{
  background: transparent;
}