form{
  text-align: center;
  position: relative;
  top: 100px;
}
.nuevo{
  font-size: 70px;
  position: relative;
  top: -0px;
  background-color: rgb(227, 215, 225);
  transition: background-color .5s;
  border-radius: 70px;
}

.nuevo:hover{
  background-color: gold;
}

body{
  
  background-image: url(/img/fondo9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  text-align: center;
  font-size: 25px;
  font-family: Consolas;
}

nav {
  background-color: rgb(165, 162, 162);
  animation-name: animacion !important;
  animation-duration: 0.5s;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px !important;
  margin: 3px;
}

a:hover {
  color: rgb(75, 73, 73);
  animation-name: animacionButton !important;
  animation-duration: 0.2s;
  position: relative;
}

.nav {
  float: right;
}

.img {
  text-align: center;
}

img:hover {
  animation-name: animacionImg;
  animation-duration: 0.5s;
  position: relative;
}

@keyframes animacion {

  0% {
    bottom: -50px;
  }

  100% {
    bottom: 0px;
  }

}

@keyframes animacionButton {

  0% {
    bottom: -3px;
  }

  100% {
    bottom: 0px;
  }

}

@keyframes animacionImg {

  0% {
    bottom: 0px;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 0px;
  }

}

input[type="text"] {
  color: black;
  background-color: aliceblue;
  border: 1px solid #000;
  border-radius: 10px;
}

footer {
  text-decoration: none;
}

.footer {
  text-align: center;
  text-decoration: none;
}

li {
  text-decoration: none;
}

ul {
  text-decoration: none;
}

ol {
  color: black;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold !important;
}

label {
  font-size: 20px;
}

label:hover {
  animation-name: animacionButton;
  animation-duration: .3s;
  position: relative;
}

.preguntas {
  align-items: center;
}

.textarea {
  text-align: center;
}

textarea {
  text-align: center;
}

.button{
  text-align: center;
}

button{
  border-radius: 10px !important;
  font-family: Consolas;
  font-size: 15px;
  margin: 20px;
}

button:hover
{
  animation-name: animacionButton;
  animation-duration: .3s;
  position: relative;
}

.card-body{
  font-size:20px;
}