form{
  text-align: center;
  position: relative;
  top: 100px;
}
.nuevo{
  font-size: 80px;
  position: relative;
  top: -60px;
  background-color: rgb(227, 215, 225);
  transition: background-color .5s;
  border-radius: 70px;
}

.nuevo:hover{
  background-color: gold;
}

body{
  
  background-image: url(/img/fondo9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 5;
}